article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: 'Rubik', sans-serif; }

h1, h2, h3 {
  margin: 0; }

h1 {
  font-size: 50px; }

.cta {
  background: #FF7733;
  width: 139px;
  margin-top: 24px; }

.cta-2 {
  background: #FF7733;
  width: 139px;
  margin-top: 24px;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%); }

.container {
  max-width: 1280px;
  margin: 0 auto;
  width: 80%; }

header {
  background: #43AA8B;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  header .container {
    max-width: 1280px;
    margin: 0 auto;
    width: 80%;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center; }

#form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  max-width: 480px;
  margin: auto; }

.hover-color {
  background: #8BBF9F; }

.select-color {
  background: #187C5E; }

input[type="radio"] {
  display: none; }

section {
  background: #F7F7F7; }

h2 {
  text-align: center;
  font-size: 40px;
  margin: 36px 0px; }

h3 {
  font-size: 25px; }

.all-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.option {
  width: 45%;
  color: white;
  font-size: 28px;
  cursor: pointer; }

.option:nth-of-type(1),
.option:nth-of-type(2) {
  margin-bottom: 20px; }

.option:nth-of-type(1) {
  background: #e21c3c; }

.option:nth-of-type(2) {
  background: #1369ce; }

.option:nth-of-type(3) {
  background: #d99f01; }

.option:nth-of-type(4) {
  background: #2b900e; }

.option:hover, .active {
  opacity: 0.5; }

.question {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50vh;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

h3 {
  text-align: center;
  margin-top: 29px; }

#form label {
  height: 80px;
  padding: 19px 4px; }

#form label[for=question] {
  padding-left: 9px; }

#result-container {
  min-height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

@media (max-width: 350px) {
  #form label {
    height: 80px;
    padding: 9px 4px; }
  #form label[for=question] {
    padding-left: 4px; } }
